<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

  <type name="BiFang\TutorialAdminBasic\ViewModel\ViewModelName">
    <plugin name="bifang_after_get_viewmodel_message" type="BiFang\TutorialAdminBasic\Plugin\ViewModelPlugin" sortOrder="1" disabled="false" />
  </type>
</config>
